.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #555;
}

.list-group-item a,
.list-group-item a:hover,
{
  text-decoration: none;
}

.jumbotron {
  border-radius: 0px !important;
}